n8n/gmail_workflow_improved.json
{
  "name": "Gmail AI分類（改善版）",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour",
              "minute": 5
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "newer_than:1h"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "id": "gmail-trigger",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "functionCode": "// HTMLタグ除去とテキスト正規化\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  \n  // HTMLタグ除去\n  const cleanBody = data.textPlain || data.textHtml?.replace(/<[^>]*>/g, '') || '';\n  \n  // 基本的な正規化\n  const normalizedBody = cleanBody\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\n+/g, ' ')\n    .trim();\n  \n  return {\n    json: {\n      ...data,\n      subject: data.subject || '',\n      body: normalizedBody,\n      messageId: data.id,\n      processedAt: new Date().toISOString()\n    }\n  };\n});"
      },
      "name": "Email Preprocessing",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "email-preprocessing"
    },
    {
      "parameters": {
        "url": "http://localhost:5002/api/enrich-context",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "item": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"subject\": \"{{ $json.subject }}\",\n  \"body\": \"{{ $json.body }}\"\n}"
      },
      "name": "Context Enricher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300],
      "id": "context-enricher"
    },
    {
      "parameters": {
        "url": "http://localhost:5002/api/classify",
        "options": {
          "bodyContentType": "json",
          "headers": {
            "item": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"subject\": \"{{ $json.subject }}\",\n  \"body\": \"{{ $json.body }}\"\n}"
      },
      "name": "AI Classification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300],
      "id": "ai-classification"
    },
    {
      "parameters": {
        "functionCode": "// 改善版Label Mappingコード\nconst items = $input.all();\n\nreturn items.map(item => {\n  try {\n    const classification = $('AI Classification').item.json.classification;\n    const confidence = $('AI Classification').item.json.confidence;\n    const context = $('Context Enricher').item.json.enriched_context;\n    const messageId = $('Email Preprocessing').item.json.messageId;\n    \n    // 不可視文字除去\n    const cleanClassification = (classification || '').replace(/[\\u200B-\\u200D\\uFEFF]/g, '').trim();\n    \n    // 実際に動作するラベルIDマッピング\n    const labelIdMapping = {\n      '支払い関係': 'Label_8775598276775767515',\n      '重要': 'Label_6536931218640484093',\n      'プロモーション': 'Label_8487245258373138905',\n      '仕事・学習': 'Label_5617616114937856118',\n      '通知': 'Label_9044690261009550654'\n    };\n    \n    // 信頼度チェック（0.6未満は要確認）\n    const confidenceThreshold = 0.6;\n    const isLowConfidence = confidence < confidenceThreshold;\n    \n    let gmailLabelId;\n    if (isLowConfidence) {\n      gmailLabelId = 'Label_26296361693826909'; // AI-NeedsReview\n    } else {\n      gmailLabelId = labelIdMapping[cleanClassification] || 'Label_26296361693826909';\n    }\n    \n    return {\n      json: {\n        ...item.json,\n        messageId: messageId,\n        classification: cleanClassification,\n        confidence: confidence,\n        gmailLabelId: gmailLabelId,\n        isLowConfidence: isLowConfidence,\n        enrichedContext: context,\n        processTime: new Date().toISOString()\n      }\n    };\n  } catch (error) {\n    console.error('Label Mapping Error:', error);\n    return {\n      json: {\n        messageId: $('Email Preprocessing').item.json.messageId || 'unknown',\n        classification: 'Error',\n        confidence: 0,\n        gmailLabelId: 'Label_26296361693826909',\n        isLowConfidence: true,\n        error: error.message,\n        processTime: new Date().toISOString()\n      }\n    };\n  }\n});"
      },
      "name": "Label Mapping",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300],
      "id": "label-mapping"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.messageId }}",
        "labelIds": ["={{ $json.gmailLabelId }}"]
      },
      "name": "Gmail Add Label",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "gmail-add-label"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.isLowConfidence }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1560, 300],
      "id": "confidence-switch",
      "name": "Confidence Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cqMj6Hm1RP8XXCxIm3t9S1_WyFjVRo4GXNnixvBiuko",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "ログ",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.processTime }}",
            "messageId": "={{ $json.messageId }}",
            "subject": "={{ $json.subject }}",
            "classification": "={{ $json.classification }}",
            "confidence": "={{ Number($json.confidence).toFixed(3) }}",
            "gmailLabel": "={{ $json.gmailLabelId }}",
            "enrichedContext": "={{ $json.enrichedContext }}",
            "status": "={{ $json.isLowConfidence ? '要確認' : '完了' }}"
          }
        }
      },
      "name": "Main Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 200],
      "id": "main-log"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cqMj6Hm1RP8XXCxIm3t9S1_WyFjVRo4GXNnixvBiuko",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "再学習候補",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.processTime }}",
            "messageId": "={{ $json.messageId }}",
            "subject": "={{ $json.subject }}",
            "predictedClass": "={{ $json.classification }}",
            "confidence": "={{ Number($json.confidence).toFixed(3) }}",
            "reason": "信頼度不足"
          }
        }
      },
      "name": "Low Confidence Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 400],
      "id": "low-confidence-log"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Preprocessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Preprocessing": {
      "main": [
        [
          {
            "node": "Context Enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Enricher": {
      "main": [
        [
          {
            "node": "AI Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classification": {
      "main": [
        [
          {
            "node": "Label Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label Mapping": {
      "main": [
        [
          {
            "node": "Gmail Add Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Add Label": {
      "main": [
        [
          {
            "node": "Confidence Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Switch": {
      "main": [
        [
          {
            "node": "Low Confidence Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Main Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "gmail-classifier-improved"
}